<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>This is your post</h1>
    <p>
        {{post.file}}
    </p>
    <p>
        {{post.driverId}}
    </p>
    <p>
        {{post.vehicleId}}
    </p>
    <p>
        {{post.date}}
    </p>
    <p>
        {{post.time}}
    </p>
    <p>
        {{post.keyWords}}
    </p>

    <script>
        console.log('hi')
    </script>
</body>

</html>